<%% title "Log in" %>

<%- if options[:authlogic] -%>
<%%= semantic_form_for @<%= session_singular_name %> do |f| %>
  <%%= f.input :username %>
  <%%= f.input :password %>
  <%%= f.submit t(:log_in), :class => :submit %>
<%% end %>
<%- else -%>
<%%= form_tag <%= session_plural_name %>_path do %>
  <p>
    <%%= label_tag :login, "Username or Email Address" %><br />
    <%%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%%= label_tag :password %><br />
    <%%= password_field_tag :password %>
  </p>
  <p><%%= submit_tag "Log in" %></p>
<%% end %>
<%- end -%>
